html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/main.css")
    script(src="/js/renderer.js")
    script(src="/js/renderManager.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  body
    .container-fluid
      .play

  script.
    $(function() {
      var game = !{games[0]};
      var $play = $('.play');
      var renderer = new window.qc.Renderer($play, game);
      window.manager = new window.qc.RenderManager(renderer);

      manager.playByTime(200);
    });
