extends layout.pug

block content
  .container-fluid
    each game in games
      .play.command(id="game-" + game.gameId)

  script.
    $(function() {
      var games = [!{gameStates}];
      var maxDimension = 200;

      games.forEach(function(game, i) {
        var $play = $(`.play#game-${game.gameId}`);

        var renderer = new window.qc.Renderer($play, maxDimension, game);
        var manager = new window.qc.RenderManager(renderer);

        manager.playByTime(100 + (Math.random() * 50) , true);
      });
    });
