html
  head
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="/js/renderer.js")
    script(src="/js/renderManager.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  body
    .container-fluid
      .game-area
        .play(id="game-" + game.gameId)
        button(type="button" class="btn btn-lg autoplay-button") Autoplay
        p Left and right arrows to step, spacebar to toggle autoplay.

  script.
    $(function() {
      var game = !{gameState};
      var $play = $('.play');
      //-200 to leave room for controls
      var maxDimension = Math.min(Math.min(window.innerWidth, window.innerHeight - 200), 1000);
      console.log("Max Dimension: ", maxDimension);

      var renderer = new window.qc.Renderer($play, maxDimension, game);
      window.manager = new window.qc.RenderManager(renderer);

      $(window).keydown(function(e) {
        if(e.keyCode == 37) {
          manager.stepGame(-1);
        } else if(e.keyCode == 39) {
          manager.stepGame(1);
        } else if(e.keyCode == 32) {
          $('.autoplay-button').click();
        }
      });

      $('.autoplay-button').click(function(e) {
        $(this).toggleClass('on');

        if(manager.playing) {
          manager.cancelPlayback();
        } else {
          manager.playByTime(200, true);
        }

      });
    });
